body {
    font-family: cursive;
    background-color: #f4f4f4;
    margin: 15px 0;
    padding: 0;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow-x: auto; 
    /* height: 100vh; */
    padding-bottom: 20px;
}

main {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    white-space: wrap;
}

th {
    background-color: #4A148C;
    color: white;
}

.approve-btn {
    padding: 8px 12px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.approve-btn:hover {
    background-color: #45a049;
}

textarea {
    width: 80%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    resize: vertical;
    margin-top: 5px;
}

.success_message, .error_message {
    color: green;
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
    border: 1px solid black;
    margin: 5px;
    display: inline-block; 
    padding: 5px; 
    font-weight: bold;
    margin: 3px auto;
}

.success_message{
    color: green;
}

.error_message {
    color: red;
}

.button{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.toggle-btn {
    padding: 18px 20px;
    background-color: #4A148C;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 18px;
}

.toggle-btn:hover {
    background-color: #6A1B9A;
    scale: 1.1;
}

.greenYes {
    background-color: #45a049;
    color: white;
    padding: 5px;
    border: none;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
}

.greenYes:hover{
    scale:1.1;
    background-color: #1a5f1d;
}

#redNo, #notVerified{
    background-color: #f14242;
    color: white;
    padding: 5px;
    border: none;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
}

#refundModal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
}

.modal-content {
    text-align: center;
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    gap: 15px;
}

#refundForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

textarea {
    width: 100%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#submitModal {
    background-color: green;
    color: white;
    border: none;
    padding: 10px;
    width: 30%;
    font-weight: bold;
}

#submitModal:hover {
    background-color: #1a5f1d;
    color: white;
    scale: 1.1;
}

h3{
    text-align: center;
}

#filterSection {
    display: flex;
    flex-direction: row;
    background-color: #eae7eb;
    padding: 5px 15px;
    text-align: center;
    justify-content: left;
    border-radius: 8px;
    box-shadow: 0 4px 8px #d4d2d4;
    align-items: center;
    margin-top: 20px;
}

#filterSection form {
    display: flex;
    flex-direction: row;
    gap: 5px;
    text-align: center;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
}

#filterSection label {
    font-weight: bold;
    color: black;
    padding-left: 20px;
}

#filterSection select {
    padding: 4px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 130px;
    align-items: center;
}

#filterSection button {
    margin-left: 25px; 
    padding: 7px 12px;  
    background-color: #8a60eb;
    border: none;
    font-weight: bold;
    border-radius: 4px;
    font-size: 15px;
}

#filterSection button:hover {
    background-color: #4a2996;
    scale: 1.1;
    color: white;
}

.filter-group{
    margin: 8px ;
}

table{
    width: 100%;
}
td {
    vertical-align: top;
}
.dept-status {
    font-weight: bold;
}
.dept-comment {
    margin-top: 5px;
    font-size: smaller;
    color: #555;
}

#noRecord{
    text-align: center;
}

.verifyDetails{
    padding: 3px;
    margin: 5px 0;
}

.verifyReason{
    width: 130px;
    margin: 10px 0px;
}


#noDuesModal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
}

#noDuesModal .modal-content {
    text-align: center;
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    gap: 15px;
}