body {
  font-family: cursive;
  background-color: #f4f4f4;
  margin: 15px 0;
  padding: 0;
}

.container {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow-x: auto;
  /* height: 100vh; */
  padding-bottom: 20px;
}

main {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

th,
td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
  white-space: wrap;
}

th {
  background-color: #4a148c;
  color: white;
}

.approve-btn {
  padding: 8px 12px;
  color: white;
  background-color: #4caf50;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.approve-btn:hover {
  background-color: #254a27;
  scale: 1.1;
}

textarea {
  width: 80%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  resize: vertical;
  margin-top: 5px;
}

#submit {
  background-color: green;
  color: white;
  border: none;
  padding: 10px;
  width: 30%;
  font-weight: bold;
}

#submit:hover {
  background-color: #043406;
  color: white;
}

h3 {
  text-align: center;
}

.message {
  color: green;
  font-size: 16px;
  margin-bottom: 20px;
}

.error-message {
  color: red;
  font-size: 16px;
  margin-bottom: 20px;
}

.toggle-btn {
  padding: 18px 20px;
  background-color: #4A148C;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 18px;
}

.toggle-btn:hover {
  background-color: #6A1B9A;
  scale: 1.1;
}

#filterSection {
  display: flex;
  flex-direction: row;
  background-color: #eae7eb;
  padding: 5px 15px;
  text-align: center;
  justify-content: left;
  border-radius: 8px;
  box-shadow: 0 4px 8px #d4d2d4;
  align-items: center;
  margin-top: 20px;
}

#filterSection form {
  display: flex;
  flex-direction: row;
  gap: 5px;
  text-align: center;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
}

#filterSection label {
  font-weight: bold;
  color: black;
  padding-left: 20px;
}

#filterSection select {
  padding: 4px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 130px;
  align-items: center;
}

#filterSection button {
  margin-left: 25px; 
  padding: 7px 12px;  
  background-color: #8a60eb;
  border: none;
  font-weight: bold;
  border-radius: 4px;
  font-size: 15px;
}

#filterSection button:hover {
  background-color: #4a2996;
  scale: 1.1;
  color: white;
}

.filter-group{
  display: flex; 
  align-items: center; 
  margin: 8px;
}
table {
  width: 100%;
}

