body {
    font-family: cursive;
    background-color: #f4f4f4;
    margin: 15px 0;
    padding: 0;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    margin: 0 auto;
}

button {
    padding: 10px 20px;
    background-color: #4A148C;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: fit-content;
}

button:hover {
    background-color: #6a1b9a;
}

#track{
    margin-bottom: 10px;
}

#detailsForm {
    margin-top: 10px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: center;
    border: 1px solid rgb(45, 45, 45);
    box-shadow: 0 4px 8px rgb(45, 45, 45);
    margin-bottom: 15px;
}

.form-item{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
    color: #4A148C;
    display: block;
    width: 300px;
    text-align: center;
}

input[type="text"], input[type="file"]{
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 40%;
}

.info {
    font-size: 12px;
    margin: 7px;
}

.welcome-message {
    font-size: 18px;
    color: #333;
    font-weight: bold;
    padding: 15px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message{
    margin-bottom: 15px;
    text-align: center;
}

.uploaded-cheque{
    align-items: center;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
}

h2 {
    text-align: center;
}

a{
    text-align: center;
    margin-bottom: 15px;
}

#updatecheque{
    margin-bottom: 10px;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

th {
    background-color: #4A148C;
    color: white;
}

.refund-info {
    margin-top : 10px;
    background-color: #f9f9f9;
    padding: 5px 20px 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 60%;
}

.refund-info p {
    margin: 10px 0;
}